$vanilla: #f0e4d0;
$chocolate: #553c13;

@mixin foodColoring($color) {
  background-color: $color;
  box-shadow: 0 2px 0px lighten($color, 5%), 0 4px 0px darken($color, 8.2%),
    0 6px 0px darken($color, 8.4%), 0 8px 0px darken($color, 8.6%),
    0 10px 0px darken($color, 8.8%), 0 12px 0px darken($color, 9%),
    0 14px 0px darken($color, 9.2%), 0 16px 0px darken($color, 9.4%),
    0 18px 0px darken($color, 9.6%), 0 20px 0px darken($color, 9.8%),
    0 22px 0px darken($color, 10%), 0 24px 0px darken($color, 10.2%),
    0 26px 0px darken($color, 10.4%), 0 28px 0px darken($color, 10.6%),
    0 30px 0px darken($color, 10.8%);
}

.cake {
  position: absolute;
  width: 100%;
  max-width: 250px;
  height: auto;
  aspect-ratio: 250/200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plate {
  width: 108%;
  height: 55%;
  position: absolute;
  bottom: -5%;
  left: -4%;
  background-color: #f6a5eb;
  border-radius: 50%;
  box-shadow: 0 2px 0 darken(#ce97fb, 10%), 0 4px 0 darken(#ccc, 10%),
    0 5px 40px rgba(#f6a5eb, 0.5);
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  @include foodColoring($chocolate);
}

.layer-top {
  top: 0%;
}
.layer-middle {
  top: 16.5%;
}
.layer-bottom {
  top: 33%;
}

.icing {
  top: -0.5%;
  left: -0.4%;
  background-color: #f0e4d0;
  width: 100.8%;
  height: 51.5%;
  border-radius: 50%;
  &:before {
    content: "";
    position: absolute;
    top: 4%;
    right: 2%;
    bottom: 6%;
    left: 2%;
    background-color: lighten($vanilla, 3%);
    box-shadow: 0 0 4px lighten($vanilla, 5%), 0 0 4px lighten($vanilla, 5%),
      0 0 4px lighten($vanilla, 5%);
    border-radius: 50%;
    z-index: 1;
  }
}

.drip {
  display: block;
  width: 20%;
  height: 30%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: $vanilla;
}

.drip1 {
  top: 26.5%;
  left: 2%;
  transform: skewY(15deg);
  height: 24%;
  width: 16%;
}

.drip2 {
  top: 34.5%;
  left: 72.4%;
  transform: skewY(-15deg);
}

.drip3 {
  top: 27%;
  left: 36%;
  width: 32%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* Media queries */
@media (max-width: 640px) {
  .cake {
    width: 80%;
    max-width: 200px;
  }
}